body{
    width: 100%;
    margin:  auto;
    font-family: 'Poppins', sans-serif;
}
a{  
    text-decoration: none;
    color: white;
    background: #FF5959;
    padding: 12px 20px;
    border-radius: 6px;
}
.protfolio {
    display: flex;
}
.area{
    width: 50%;
}
.area p{
    width: 80%;
    padding: 22px 0px 22px 0px; 
}
.area-left{
    padding: 110px;
}

.area h1{
    font-family: Yeseva One;
    font-size:55px ;
    font-weight: 400;
    margin: 0;
    line-height: 70px;
    
}
.area img{
    width: 80%;
}
.color{
    color:#FFAD5A;
}
.mission{
    margin: auto;
}
.headline{
    text-align: center;
    font-size:30px ;
    font-weight:bold;

}
.infocard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 90%;
   
}
.infocard img {
    width: 50%;

}
.card{
    padding: 30px;
    border-radius: 20px;
    width: 27%;

}
#card1{
    background-color: #EEF6F7;
}
#card2{
    background-color: #FFEFEF;
}
#card3{
    background-color: #FFF4D6;
}

