body{
   
    margin:  auto;
    font-family: 'Poppins', sans-serif;
}
a{  
    text-decoration: none;
    color: white;
    background: #FF5959;
    padding: 12px 20px;
    border-radius: 6px;
}
.borderleft{
    border-left: 5px solid tomato;
    
}
.protfolio {
    display: flex;
}
.area{
    width: 50%;
}
.area p{
    width: 80%;
    padding: 22px 0px 22px 0px; 
}
.area-left{
    padding: 110px;
}

.area h1{
    font-family: Yeseva One;
    font-size:55px ;
    font-weight: 400;
    margin: 0;
    line-height: 70px;
    
}
.area img{
    width: 80%;
}
.color{
    color:#FFAD5A;
}
.mission{
    margin: auto;
    margin-bottom: 60px;
}
.headline{
    text-align: center;
    font-size:30px ;
    font-weight:bold;

}
.infocard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 90%;
   
}
.infocard img {
    width: 50%;

}
.card{
    padding: 30px;
    border-radius: 20px;
    width: 27%;

}
#card1{
    background-color: #EEF6F7;
}
#card2{
    background-color: #FFEFEF;
}
#card3{
    background-color: #FFF4D6;
}

.Develop{
    margin: auto;
    display: flex;
    width: 95%;
    
    margin-bottom: 60px;
}
.dev{
    padding: 10px;
    border-radius: 20px;
    width: 50%;
}
.dev img{
    width:80%;
    position: ;
}
.logo {
    margin: auto;
    display: flex;
    margin-bottom: 60px;
    
}
.logobackground {
    margin: auto;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    
}
.logobackground img{
    width:60%;
    padding:10px;
    
}
.client h1 {
    text-align: center;
    font-size: 50px;
    

}
footer {
    text-align: center;
    background-color: black;
    height: 200px;
    color: white;
}
footer h1{
    color: white;
    padding-top: 23px;
}